
/*************************************
GENERAL
**************************************/
a {
 text-decoration: underline;
 }

img {
max-width: 100%;
display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



 html, body {
   font-family: "Arial", Helvetica, sans-serif;
	height: 100%;

 }


 #wrapper {
   max-width: 1020px;
   margin: 0 auto;
   
   height: 100%;

 
 }


 a {
   color: MEDIUMSLATEBLUE;

 }

 h3 {
     margin: 0 0 1em 0;
 }


/*************************************
HEADING
**************************************/

header {
  float: left;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;

}



#logo {
   text-align: center;
   margin: 0;

 }

 h1  {
 font-family: "Arial", Helvetica, sans-serif;
 margin: 10px 0;
 font-size: 1.75em;
 font-weight: normal;
 line-height: 0.5;
 text-align: center;
 color: 	#FF0000;

 }

 h2  {


 font-size: 1.00em;
 font-weight: normal;
 margin: -5px 0 0;
 }


h3  {


    font-size: 1.1em;
    font-weight: 700;
    margin: 15px 0 0;
}







/*************************************
NAVIGATION
**************************************/
 nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
  }

  nav ul  {
    list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
  display: inline-block;

}



/*************************************
FOOTER
**************************************/
 footer {
 font-size: 1.1em;
 text-align: center;
 clear: both;
 padding-top: 10px;
 color: #ccc;
 background-color: #000;
    color: #fff;


   left: 0;
   bottom: 0;
   width: 100%;

 }

/*************************************
PAGE:
**************************************/
.mydiv {
	background: lightblue;
   text-align: center;
   display: block;
 
	}


.mysection{
	display:flex;
	
   vertical-align: middle;
	border-style: solid;
    height:200px;
    margin:20px;
    border-radius: 20px; 
	text-align: justify;
	vertical-align: middle;

	
}
.myimage {
    float:left;
    width:150px;
    height:175px;
    margin:5px;
    
}


.logos {
	float:left;
    display: block;

    margin: 0 auto 30px;
    border-radius: 5px;
	  width: 100px;
  height: 100px;
}

/*************************************
COLORS
**************************************/


 /* green header*/
  header {
	
   background: PEACHPUFF;
   border-color: #599a68;
   text-align:center;


 }

 /* logo text*/

 h1,h2  {
    color: #32673f;
}

/* nav background on mobile devices*/
nav {
   background: #599a6b;
}

nav a, nav a:visited {
	color: #fff;
}

/* selected nav link color*/
nav a.selected, nav a:hover {
  color: #32673f;
}
/* site body*/
body {
    background-color: #fff;
    color: #000;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	overflow:auto;
}